<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>
            This site was create by 
            <code>{{name}}</code>
            This site uses data from mapbox.com and weatherstack.com
            </p>
        <img class="potrait" src="./images/Passportpic.jpg" alt="Passportpic">
    </div>
    <br>
    <div>
        {{>footer}}
    </div>
</body>
</html>