<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Weather-App</title>
</head>
<body>
    {{>header}}
    <div class="main-content">
        <p>
            Use this to get wether for desired location
        </p>

        <form>
            <input type="text" name="location" id="location" placeholder="Type your location">
            <button type="submit">Search</button>
        </form>

        <p id="messageOne"></p>
        <p id="messageTwo"></p>

    </div>

    <div>
        {{>footer}}
    </div>


    <script src="/js/app.js"></script>
</body>
</html>